{% extends "layout.html" %}
{% block genericChartsDiv %}

<script type="text/javascript" src="{{ url_for('static', filename='asset-declaration-visualizer.js') }}"></script>
<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});

    // Get delclarations JSON
    declarations = {{ asset_declarations|tojson|safe }};
    declarations.reverse(); 

    $(document).ready(function() {
        // Init tabs: Total Assets Throughout Years.
        initTotalAssetsThroughoutYearsTab(declarations);   

        // Init tabs: Assets Throughout Years.
        initAssetsThroughoutYearsCetegorizedBySourcesTab(declarations);        

        // Init the year tabs for 'Relative Asset Contribution' pie charts 
        initYearTabs(declarations);
    });
</script>


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Total Assets Throughout The Years</h3>
    </div>
    <div class="panel-body">
        <div class="tabbable">
            <ul class="nav nav-tabs total-assets-throughout-years-combo-chart">
                <li id="tab-pane-total-assets-throughout-years-individual-and-joint" class="total-assets-throughout-years active">
                    <a href="#pane-total-assets-throughout-years-individual-and-joint" data-toggle="tab" data-asset-source='total'>
                        Individual + Joint
                    </a>
                </li>
                <li id="tab-pane-total-assets-throughout-years-individual" class="total-assets-throughout-years">
                    <a href="#pane-total-assets-throughout-years-individual" data-toggle="tab" data-asset-source='individual'>
                        Individual
                    </a>
                </li>
                <li id="tab-pane-total-assets-throughout-years-joint" class="total-assets-throughout-years">
                    <a href="#pane-total-assets-throughout-years-joint" data-toggle="tab" data-asset-source='joint'>
                        Joint
                    </a>
                </li>
            </ul>
            <div class="tab-content total-assets-throughout-years-combo-chart">
                <div id="pane-total-assets-throughout-years-individual-and-joint" class="tab-pane active"></div>
                <div id="pane-total-assets-throughout-years-individual" class="tab-pane"></div>
                <div id="pane-total-assets-throughout-years-joint" class="tab-pane"></div>
            </div>
        </div>
    </div>
</div>

<br><br>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Assets Throughout The Years by Their Source</h3>
    </div>
    <div class="panel-body">
        <div class="tabbable">
            <ul class="nav nav-tabs assets-throughout-years-combo-chart">
                <li id="tab-pane-assets-throughout-years-individual-and-joint" class="assets-throughout-years active">
                    <a href="#pane-assets-throughout-years-individual-and-joint" data-toggle="tab" data-asset-source='total'>
                        Individual + Joint
                    </a>
                </li>
                <li id="tab-pane-assets-throughout-years-individual" class="assets-throughout-years">
                    <a href="#pane-assets-throughout-years-individual" data-toggle="tab" data-asset-source='individual'>
                        Individual
                    </a>
                </li>
                <li id="tab-pane-assets-throughout-years-joint" class="assets-throughout-years">
                    <a href="#pane-assets-throughout-years-joint" data-toggle="tab" data-asset-source='joint'>
                        Joint
                    </a>
                </li>
            </ul>
            <div class="tab-content assets-throughout-years-combo-chart">
                <div id="pane-assets-throughout-years-individual-and-joint" class="tab-pane active"></div>
                <div id="pane-assets-throughout-years-individual" class="tab-pane"></div>
                <div id="pane-assets-throughout-years-joint" class="tab-pane"></div>
            </div>
        </div>
    </div>
</div>

<br><br>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Relative Asset Contributions by Their Source</h3>
    </div>
    <div class="panel-body">
        <div class="tabbable">
            <ul class="nav nav-tabs relative-contribution-piecharts"></ul>
            <div class="tab-content relative-contribution-piecharts"></div>
        </div>
    </div>
</div>


{% endblock %}