{% extends "layout.html" %}


{% block scripts %}
<script>
    google.load("visualization", "1", {packages:["corechart"]});

    var medians = {{ medians|tojson|safe }};
    var sums = {{ sums|tojson|safe }};
    var whoDeclared = {{ parties_who_declared|tojson|safe }};
    var declarationYears = {{ declaration_years|tojson|safe }};

    $(document).ready(function() {
       initPartiesMedianAssetDeclarationTab();
    });

    /**
     * Init tabs: Assets throughout the year.
     * Draw chart for first tab (the default tab).
     * Register event for each tabs so that chart is drawn when we select them.
     **/
    function initPartiesMedianAssetDeclarationTab(){

        assetSource = 'total'

        // Draw the chart that will be displayed by default.
        var sumsDataTable = getAssetDeclarationDataTable(sums, declarationYears, assetSource, whoDeclared, 'party');
        drawPartiesAssetDeclarationLineChart(
            sumsDataTable,
            'Total Party Assets Throughout The Years',
            'pane-party-asset-declarations-sum'); 

        // Draw the chart that will be displayed by default.
        var medianDataTable = getAssetDeclarationDataTable(medians, declarationYears, assetSource, whoDeclared, 'party');
        drawPartiesAssetDeclarationLineChart(
            medianDataTable,
            'Median Party Assets Throughout The Years',
            'pane-party-asset-declarations-median');                 
    }

</script>
{% endblock %}

{% block containerDiv %}
{{ time }}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Party Assets Throughout The Years</h3>
    </div>
    <div class="panel-body">
        <div class="tabbable">
            <ul class="nav nav-tabs party-asset-declarations-line-chart">
                <li id="tab-pane-party-asset-declarations-sum" class="party-asset-declarations active">
                    <a href="#pane-party-asset-declarations-sum" data-toggle="tab">
                        Total
                    </a>
                </li>
                <li id="tab-pane-party-asset-declarations-median" class="party-asset-declarations">
                    <a href="#pane-party-asset-declarations-median" data-toggle="tab">
                        Median
                    </a>
                </li>

            </ul>
            <div class="tab-content party-asset-declarations-line-chart">
                <div id="pane-party-asset-declarations-sum" class="tab-pane active"></div>
                <div id="pane-party-asset-declarations-median" class="tab-pane"></div> 
            </div>
        </div>
    </div>
</div>
{% endblock %}