{% extends "declarations.html" %}

{% block moreScripts %}
<script type="text/javascript">
    var mpsDeclarations = {{ party_mps_declarations|tojson|safe }};
    var whoDeclared = {{ mps_who_declared|tojson|safe }};
    var declarationYears = {{ declaration_years|tojson|safe }};

    var partyAcronym = mpsDeclarations[0].party.acronym
    var pageTitle = partyAcronym + " Asset Declarations"

    $(document).ready(function() {
        initPageHeader(pageTitle)
        initPartyMPsAssetDeclarationTab();
    });

    function initPageHeader(pageTitle){
        $('#page-header').html(pageTitle);
    }

    /**
     * Init tabs: Assets throughout the year.
     * Draw chart for first tab (the default tab).
     * Register event for each tabs so that chart is drawn when we select them.
     **/
    function initPartyMPsAssetDeclarationTab(){

        // Draw the chart that will be displayed by default.
        drawPartyMPsAssetDeclarationLineChart(
            'total',
            'Total MP Assets Throughout The Years',
            'pane-asset-declarations-from-party-mps-individual-and-joint');


        // Draw other line charts when their tab is selected.
        $('.asset-declarations-from-party-mps a[data-toggle="tab"]').on('shown.bs.tab', function(e){

            var dataAssetOrigin = $(e.target).attr('data-asset-source');

            var paneIdEnd = dataAssetOrigin;
            if(dataAssetOrigin === 'total'){
                paneIdEnd = "individual-and-joint";
            }
            var paneId = 'pane-asset-declarations-from-party-mps-' + paneIdEnd;

            // Let's check if we already drew the chart for this tab.
            // We don't want to redraw the charts if they are already there! 
            if($('#' + paneId).children().length == 0){

                // Build title string.
                title = 'Total MP ' + paneIdEnd.charAt(0).toUpperCase() + paneIdEnd.slice(1) + ' Assets Throughout The Years';

                drawPartyMPsAssetDeclarationLineChart(
                    dataAssetOrigin,
                    title,
                    paneId);
            }
        });        
    }


    /**
     * Get line chart for Party MPs asset declarations.
     **/
    function drawPartyMPsAssetDeclarationLineChart(assetSource, title, chartContainerDivId){

        var dataTable = getAssetDeclarationDataTable(mpsDeclarations, declarationYears, assetSource, whoDeclared, 'mp');

        var options = {
            title : title,
            width: 1200,
            height: 600,
            vAxis: {title: "Amount (log scale)", logScale: true},
            hAxis: {title: "Year"},
            legend: 'bottom'
        };

        var chart = new google.visualization.LineChart(document.getElementById(chartContainerDivId));
        chart.draw(dataTable, options);
    }
</script>
{% endblock %}

{% block specificChartsDiv %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Total MP Assets Throughout The Years</h3>
    </div>
    <div class="panel-body">
        <div class="tabbable">
            <ul class="nav nav-tabs asset-declarations-from-party-mps-line-chart">
                <li id="tab-pane-asset-declarations-from-party-mps-individual-and-joint" class="asset-declarations-from-party-mps active">
                    <a href="#pane-asset-declarations-from-party-mps-individual-and-joint" data-toggle="tab" data-asset-source='total'>
                        Individual + Joint
                    </a>
                </li>
                <li id="tab-pane-asset-declarations-from-party-mps-individual" class="asset-declarations-from-party-mps">
                    <a href="#pane-asset-declarations-from-party-mps-individual" data-toggle="tab" data-asset-source='individual'>
                        Individual
                    </a>
                </li>
                <li id="tab-pane-asset-declarations-from-party-mps-joint" class="asset-declarations-from-party-mps">
                    <a href="#pane-asset-declarations-from-party-mps-joint" data-toggle="tab" data-asset-source='joint'>
                        Joint
                    </a>
                </li>
            </ul>
            <div class="tab-content asset-declarations-from-party-mps-line-chart">
                <div id="pane-asset-declarations-from-party-mps-individual-and-joint" class="tab-pane active"></div>
                <div id="pane-asset-declarations-from-party-mps-individual" class="tab-pane"></div>
                <div id="pane-asset-declarations-from-party-mps-joint" class="tab-pane"></div>
            </div>
        </div>
    </div>
</div>
<br><br>
{% endblock %}