{% extends "layout.html" %}
{% block body %}

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    $( document ).ready(function() {
        aggregateAssetDeclarations = {{ asset_declarations|tojson|safe }};

        $(aggregateAssetDeclarations).each(function(index){
            var declaration = $(this)[0];
            var year = declaration.year;

            var tabId =  "panel-" + year;

            // Create tab element and its content div for the current year.
            $('.nav.nav-tabs').append('<li id="tab-' + tabId + '"><a href="#' + tabId + '" data-toggle="tab">' + year + '</a></li>');
            $('.tab-content').append('<div id="' + tabId + '" class="tab-pane"></div>');

            // Create 'Relative Contribution of Assets' pie chart container div.
            $('#' + tabId).append('<div id="' + tabId + '-total"></div>');
            $('#' + tabId).append('<div id="' + tabId + '-individual"></div>');
            $('#' + tabId).append('<div id="' + tabId + '-joint"></div>');

            // If it's the first tab we create, then make it the active tab.
            // Also, draw the charts for that tab since its the first tab that user will see.
            if(index == 0){
                $('#tab-' + tabId).addClass('active');
                $('#' + tabId).addClass('active');

                drawRelativeContributionPieCharts(declaration, year);
            }
        });

        // When we switch tabs, draw the charts for that tab.
        $('a[data-toggle="tab"]').on('shown.bs.tab', function(e){
            var tabYear = $(e.target).text();

            // Get the tab href e.g. #panel-2011
            var tabHref = $(e.target).attr('href');

            // Infer a chart conainter div id from the tab ref:  #panel-2011 -->  #panel-2011-total
            // We are keeping the '#' so that we can directly get the div jQuery: $('#panel-2011-total')
            var tabIdPrefixedWithHashtag = tabHref + '-total';

            // Let's check if we already drew the charts for this tab.
            // We don't want to redraw the charts if they are already there! 
            if($(tabIdPrefixedWithHashtag).children().length == 0){

                $(aggregateAssetDeclarations).each(function(index){
                    var declaration = $(this)[0];
                    var declarationYear = declaration.year;

                    if(tabYear == declarationYear){

                        // Draw the charts.
                        drawRelativeContributionPieCharts(declaration, declarationYear);

                        // Break away from the loop now that we found the declaration that
                        // corresponds with the selected year tab.
                        return false;
                    }
                });
            }  
        });

        /**
            Draw pie charts showing the relative contribution of differt asset sources.
        **/
        function drawRelativeContributionPieCharts(declaration, year){
            var tabId = "panel-" + year;

            var titleTotal = 'Relative Contribution of Total Assets (Individual + Joint)';
            drawRelativeContributionPieChart(declaration, 'total', titleTotal, tabId + '-total');

            var titleIndividual = 'Relative Contribution of Individual Assets';
            drawRelativeContributionPieChart(declaration, 'individual', titleIndividual, tabId + '-individual');

            var titleJoint = 'Relative Contribution of Joint Assets';
            drawRelativeContributionPieChart(declaration, 'joint', titleJoint, tabId + '-joint');
        }


    });
</script>
<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});

    function drawRelativeContributionPieChart(declaration, assetOrigin, title, chartContainerDivId){

        var dataTable = google.visualization.arrayToDataTable([
            ['Asset', 'Amount'],
            ['Real Estate', declaration.realEstate[assetOrigin]],
            ['Movable', declaration.movable[assetOrigin]],
            ['Shares', declaration.shares[assetOrigin]],
            ['Bonds', declaration.bonds[assetOrigin]],
            ['Cash', declaration.cash[assetOrigin]],
            ['Debts or Outstanding', declaration.debtsOrOutstanding[assetOrigin]],
            ['Annual Regular Salary', declaration.annualSalary.regular[assetOrigin]],
            ['Annual Honorariums Salary', declaration.annualSalary.honorariums[assetOrigin]]
        ]);

        var options = {
            title: title,
            width: 900,
            height: 500
        };

        var chart = new google.visualization.PieChart(document.getElementById(chartContainerDivId));

        chart.draw(dataTable, options);
        
    }
</script>


<h2>Relative Contribution of Assets</h2>
<div class="tabbable">
    <ul class="nav nav-tabs"></ul>
    <div class="tab-content"></div>
</div>


{% endblock %}